.label { font-family: var(--pn-font-family); font-weight: var(--pn-font-weight-sb); font-size: var(--pn-typo-text-sm-size); line-height: var(--pn-typo-text-lg-line); color: var(--pn-palette-gray-dark-900); display: inline-flex; align-items: center; }
.req { color: var(--pn-palette-error-600); margin-left: var(--pn-space-xxs); }
