node_modules/
dist/
storybook-static/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

*.tsbuildinfo
.cache/
